div#address_info {
	position: "absolute";
	right:100px;
	height: 200px;
	overflow:hidden;
}

div#bill_to {
	position: "relative";
	float:left;
	width: 30%;
		height: 200px;
}

div#ship_to {
	position: "relative";
	float:left;
	width: 30%;
			height: 200px;
}