<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
 
	<bean id="userDAO" class="com.loska.dao.impl.JdbcUserDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="invoiceDAO" class="com.loska.dao.impl.JdbcInvoiceDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
		<bean id="customerDAO" class="com.loska.dao.impl.JdbcCustomerDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
 
</beans>